@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff5f0;
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff5f0;
}

::-webkit-scrollbar-thumb {
  background: #ff9800;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91d47;
}